package {{ serv_name }}_sdk

import (

	"github.com/Golang-Tools/grpcsdk"
    "{{ app_name }}/{{ serv_name }}_pb"
)

type Conf grpcsdk.SDKConfig


var SDK = grpcsdk.New({{ serv_name }}_pb.New{{ serv_name | upper }}Client, &{{ serv_name }}_pb.{{ serv_name | upper }}_ServiceDesc)